/* ============================================= */
/*                     Grid                      */
/* ============================================= */

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "supervisor"
    "teamBuilder"
    "karma"
    "calculator";

    @include mq('desktop') {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "supervisor teamBuilder calculator"
        "supervisor karma calculator"
      }
}


.supervisor {
    grid-area: supervisor;
}


.teamBuilder {
    grid-area: teamBuilder;
}


.karma {
    grid-area: karma;
}


.calculator {
    grid-area: calculator;
}


