/* ============================================= */
/*                     Header                    */
/* ============================================= */

header {
    width: 90%;
    margin: auto;
    text-align: center;
}

header h1 {
    margin-bottom: .25em;
}

header p {
    font-size: 1.1em;
    margin-bottom: 4.5em;
    margin-top: 2em;
}


