/* ============================================= */
/*                   Typography                  */
/* ============================================= */

body {
    font-size: $font-sizeBody;
    font-family: $font-primary;
    color: $color-grayishBlue;
    background-color: $color-lightGray
}


h1, 
.heading {
    font-size: 1.75em;
    @include mq('desktop') {
        font-size: 2.7em;
    }
}

h1 {
    font-weight: 400;
}


.heading,
h1,
.card h2 {
    color: $color-darkBlue;
}

p {
    line-height: 1.7;
}

.attribution { 
    font-size: $font-sizeFooter; 
    text-align: center; 
}
.attribution a {
    color: $color-link; 
}


